In [1]:
from enrich import lst_sales
from clean import df_clean
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()

df_clean dataset is done!
WE HAVE APIKEY
('Attack on Titan', 'FOR_SALE', {'amount': 12.07, 'currencyCode': 'EUR'}, {'amount': 11.47, 'currencyCode': 'EUR'}, 'https://play.google.com/store/books/details?id=7w3zDQAAQBAJ&rdid=book-7w3zDQAAQBAJ&rdot=1&source=gbs_api')

True

## Create a DataFrame with Sales Information

In [2]:
lst_sales[0]

('Attack on Titan',
 'FOR_SALE',
 {'amount': 12.07, 'currencyCode': 'EUR'},
 {'amount': 11.47, 'currencyCode': 'EUR'},
 'https://play.google.com/store/books/details?id=7w3zDQAAQBAJ&rdid=book-7w3zDQAAQBAJ&rdot=1&source=gbs_api')

In [3]:
data = {}

data['title'] = [e[0] for e in lst_sales]
data['Avability'] = [e[1] for e in lst_sales]
data["Link"] = [l[4] for l in lst_sales]
data["List price (EUR)"] = [lp[2]['amount'] for lp in lst_sales]
data['Retail price (EUR)'] = [rp[3]['amount'] for rp in lst_sales]

In [4]:
df_sales_info = pd.DataFrame(data)

In [5]:
df_sales_info.head()

,title,Avability,Link,List price (EUR),Retail price (EUR)
0,Attack on Titan,FOR_SALE,https://play.google.com/store/books/details?id...,12.07,11.47
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,FOR_SALE,https://play.google.com/store/books/details?id...,2.20,2.09
2,The Art of Super Mario Odyssey,FOR_SALE,https://play.google.com/store/books/details?id...,12.33,11.71
3,"The Painted Man (The Demon Cycle, Book 1)",FOR_SALE,https://play.google.com/store/books/details?id...,4.84,4.60
4,"A Feast for Crows (A Song of Ice and Fire, Boo...",FOR_SALE,https://play.google.com/store/books/details?id...,7.13,6.77

## Merge both dataframes into one:

In [6]:
df_clean.head()

,title,author
ISBN,,
9781612626864,Attack on Titan: Volume 13,Hajime Isayama
9780758272799,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan
9781506713816,The Art of Super Mario Odyssey,Nintendo
9781617734076,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett
9780007287758,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett

In [7]:
df_analisis = pd.merge(df_clean, df_sales_info, on='title')
df_analisis.head()

,title,author,Avability,Link,List price (EUR),Retail price (EUR)
0,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,FOR_SALE,https://play.google.com/store/books/details?id...,2.20,2.09
1,The Art of Super Mario Odyssey,Nintendo,FOR_SALE,https://play.google.com/store/books/details?id...,12.33,11.71
2,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,FOR_SALE,https://play.google.com/store/books/details?id...,4.84,4.60
3,"A Feast for Crows (A Song of Ice and Fire, Boo...",George R.R. Martin,FOR_SALE,https://play.google.com/store/books/details?id...,7.13,6.77
4,The Mysterious Affair at Styles (Poirot),Agatha Christie,FOR_SALE,https://play.google.com/store/books/details?id...,4.70,4.46

In [8]:
df_analisis['List price (EUR)'] = df_analisis['List price (EUR)'].astype(float)

In [9]:
df_analisis['Retail price (EUR)'] = df_analisis['Retail price (EUR)'].astype(float)

In [10]:
df_analisis.head()

,title,author,Avability,Link,List price (EUR),Retail price (EUR)
0,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,FOR_SALE,https://play.google.com/store/books/details?id...,2.20,2.09
1,The Art of Super Mario Odyssey,Nintendo,FOR_SALE,https://play.google.com/store/books/details?id...,12.33,11.71
2,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,FOR_SALE,https://play.google.com/store/books/details?id...,4.84,4.60
3,"A Feast for Crows (A Song of Ice and Fire, Boo...",George R.R. Martin,FOR_SALE,https://play.google.com/store/books/details?id...,7.13,6.77
4,The Mysterious Affair at Styles (Poirot),Agatha Christie,FOR_SALE,https://play.google.com/store/books/details?id...,4.70,4.46