In [1]:
from acquisition import df
import pandas as pd
import os

In [2]:
def drop_columns(*colunas):
    for c in colunas:
        return df.drop(columns=c)

In [3]:
def clean(df_clean):
    df_clean = drop_columns(['Unnamed: 0', 'rating', 'voters', 'price','currency', 'description', 'publisher', 'page_count', 'generes','language', 'published_date'])
    df_clean["check_duplicated"] = df_clean["ISBN"].duplicated()
    df_clean = df_clean.drop(df_clean[df_clean['check_duplicated'] == True].index)
    df_clean = df_clean.drop(columns=['check_duplicated'])
    df_clean = df_clean.set_index('ISBN')
    return df_clean

In [4]:
df_clean = clean(df)

In [5]:
df_clean.head()

,title,author
ISBN,,
9781612626864,Attack on Titan: Volume 13,Hajime Isayama
9780758272799,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan
9781506713816,The Art of Super Mario Odyssey,Nintendo
9781617734076,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett
9780007287758,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett

In [6]:
df = df_clean[~df_clean.index.str.contains("9")]

In [7]:
df

,title,author
ISBN,,
Original pages,My Little Pony: Friendship is Magic #83,Thom Zahler
Flowing text,Death in an Elegant City: An English Village M...,Sara Rosett
"Flowing text, Google-generated PDF",Moby Dick. Illustrated edition,Melville Herman

In [8]:
df_clean = df_clean.drop('Original pages')

In [9]:
df_clean = df_clean.drop('Flowing text')

In [10]:
df_clean = df_clean.drop('Flowing text, Google-generated PDF')

In [11]:
df_clean.head()

,title,author
ISBN,,
9781612626864,Attack on Titan: Volume 13,Hajime Isayama
9780758272799,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan
9781506713816,The Art of Super Mario Odyssey,Nintendo
9781617734076,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett
9780007287758,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett